body {
    margin: 0;
}

.root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "filters"
        "main"
        "footer";
    /* margin: 1rem; */
}

.logo {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.logo p,
.car-icon {
    font-size: 1.5rem;
}
.logo p {
    margin-left: 1rem;
}

.car-icon {
    margin-bottom: 1rem;
}

.fa-bars {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.dropdown-toggle{
    background-color: #054af2;
    border: none;
}

.nav-menu {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    background-color: #058efc;
    padding: 0 1rem;
    color: white;
}

.nav-sections {
    display: none;
}

.search-filters {
    grid-area: filters;
    text-align: center;
    background-color: #054af2;
    color: white;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
}

.product-card {
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem 0;
    border: 1px solid #10bee6;
    /* max-width: 500px; */
    justify-content: center;
    align-items: center;
}

.product-card img {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: contain;
}

.product-card button {
    background-color: #054af2;
    color: white;
    border-radius: 5%;
    width: 6rem;
    height: 3rem;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: #054af2;
    color: white;
    padding-top: 0.5rem;
}

@media (min-width: 576px) {
    .root {
        grid-template-columns: 2fr 4fr;
        grid-template-areas:
            "nav filters"
            "nav main"
            "footer main";
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .hamburguer-icon {
        display: none;
    }

    .nav-sections {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-top: 4rem;
    }

    .nav-sections ul {
        margin: 0.5rem;
        padding: 0;
    }

    main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
